# 專為 Google Colab 雲端環境

# 基礎數據處理
pandas
pyarrow
finta
setuptools

# 機器學習與特徵篩選
scikit-learn
lightgbm

# 參數優化
optuna

# 回測框架
backtrader
matplotlib
xgboost
catboost

# --- 新增的套件 ---
# 用於讀取 YAML 設定檔
PyYAML

# 用於獲取宏觀經濟數據
investpy
yfinance
